{% extends 'base.html.twig' %}

{% block title %}Hello JeuxvideoController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
        <h1>{{plateforme.console}}</h1>
        
        <img src="{{plateforme.image}}">
  
    <hr>
        {% for plat in plateforme.jeuxvideos %}
            <div class="console_jeux">
               <a href="{{path('jeuxvideo.show', {'id': plat.id})}}">
                     {{plat.titre}}
                    <img class="console_image" src="{{plat.image}}" alt="{{plat.titre}}" />
                </a>
            </div>
        {% endfor %}
    

</div>
{% endblock %}